 #LandingPage{
    background-color: rgb(240, 203, 216);
    border-radius: 20px;
    padding: 20px;
    border: solid black;
    border-right-width: 5px;
    border-bottom-width: 5px;
    margin: 1%;

} 
#sign-up{
    background-color: rgb(1, 1, 23);
    color:white;
    padding: 1px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 70px;
    width: 200%;
    border-color: transparent;
    border-radius: 10px;
    


}
#navigation{
    display:flex;
}
#heading{
    font-style: italic;
    line-height: 0cm;
    margin-bottom: 15px;


}
#girl{
    border-radius: 50px;
    width: 800px;
    height: 400px;
    margin-top: 100px;

}
.search{
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    width: 110%;
    margin-right:20px ;
    border:  1px solid black;
    padding: 0px;
    border-radius: 20px;
}
.courses{
    border: 0cap;
    background-color: transparent;
}

#sign-in{
    background-color: transparent;
    border: 0cm;
    margin-left: 600px;
}
.apply,.sign-up,.sign-up{
    justify-content: space-evenly;
}
.courses,.search{
    justify-content: space-between;
    
}
.body{
    background-color: blueviolet;
    height: 270px;
    margin-bottom: 30px;
}

#Display{
    display: flex; 
    gap: 20px;
 }
 #Paragraph{
   margin-left: 90px; 
   margin-bottom: 150px;
 }
 
 
 #box{
     padding: 15px 32px;
     background-color: white;
     border-radius: 20px;
     border: solid 1px;
     width: 80%
 }
 #sentence{
     font-size: 250%;
     font-family: Georgia Verdana;
     margin-bottom: 2px;
     
}
#writtings{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    background-color: whitesmoke;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  border-radius: 8px;
  border: 2px solid gray;

 
}
#bottom{
    position: absolute;
    bottom: 0;
    width: 90%;
}
#finals{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media all and (min-width: 280px) and (max-width: 1024px){


    #LandingPage{
        background-color: rgb(240, 203, 216);
        border-radius: 20px;
        padding: 20px;
        border: solid black;
        border-right-width: 5px;
        border-bottom-width: 5px;
        margin: 1%;
        height: 600px;
        width: 450px;
    
    } 
    #sign-up{
        background-color: rgb(1, 1, 23);
        color:white;
        padding: 1px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 70px;
        width: 200%;
        border-color: transparent;
        border-radius: 10px;
        
    
    
    }
    #navigation{
        display:flex;
        flex-wrap: wrap;
    }
    #heading{
        font-style: italic;
        line-height: 0cm;
        margin-bottom: 15px;
    
    
    }
    #girl{
        border-radius: 50px;
        width: 200px;
        height: 200px;
        margin-top: 100px;
    
    }
    .search{
        background-color: transparent;
        box-sizing: border-box;
        cursor: pointer;
        width: 110%;
        margin-right:20px ;
        border:  1px solid black;
        padding: 0px;
        border-radius: 20px;
    }
    .courses{
        border: 0cap;
        background-color: transparent;
    }
    
    #sign-in{
        background-color: transparent;
        border: 0cm;
        margin-left: 100px;
    }
    .apply,.sign-up,.sign-up{
        justify-content: space-evenly;
    }
    .courses,.search{
        justify-content: space-between;
        
    }
    .body{
        background-color: blueviolet;
        height: 270px;
        margin-bottom: 30px;
    }
    
    #Display{
        display: flex; 
        gap: 20px;
     }
     #Paragraph{
       margin-left: 15px; 
       margin-bottom: 150px;
     }
     
     
     #box{
         padding: 15px 32px;
         background-color: white;
         border-radius: 20px;
         border: solid 1px;
         width: 80%
     }
     #sentence{
         font-size: small;
         font-family: Georgia Verdana;
         margin-bottom: 2px;
         
    }
    #writtings{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    button{
        background-color: whitesmoke;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      width: 90%;
      border-radius: 8px;
      border: 2px solid gray;
    
     
    }
    #bottom{
        position: absolute;
        bottom: 0;
        width: 90%;
    }
    #finals{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


}